/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 5px solid var(--background-color);
}

/* CLASSES */

.container {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 128px;

    background: var(--pavilion-gradient);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-button {
    color: white;
}

.login-button span {
    font-size: 50px;
}

.events {
    display: flex;
    flex-direction: column;
}

.event {
    box-sizing: border-box;

    width: 470px;
    height: 290px;

    margin-right: 20px;

    flex: 0 0 auto;
}

.events-row-heading {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 8px;
}

.heading-thisweek {
    color: white;
}

.heading-upcoming {
    color: gray;
    margin-top: 20px;
}

.events-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.event-title {
    font-size: 27px;
}

.event-content-left {
    display: flex;
    flex-direction: column;
    width: 700px;

    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.event-description {
    font-size: 15px;
    font-weight: 400;
}

.event-image {
    width: 100%;
    object-fit: cover;
    height: 140px;
    border-radius: 11px 11px 0px 0px;
}

.event-details {
    height: 144px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-radius: 0px 0px 12px 0px;

    background-color: rgba(255, 255, 255, 0.13);
}

.event-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 14px;
    font-weight: 400;
}

.event-detail span {
    font-size: 14px;
    margin-right: 4px;
}

.upcoming-row {
    margin-bottom: 100px;
}

.search-upcoming {
    margin-top: 37px;
    margin-left: 10px;

    height: 30px;
    width: 300px;
    color: white;
    font-size: 16px;
    padding-left: 3px;

    border-radius: calc(var(--box-outline-radius) - 5px);
    border-width: calc(var(--box-outline-width) - 1px);
    border-style: solid;
    border-color: rgb(142, 142, 142);
    background-color: black;

    margin-bottom: 4px;
}